*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    display: flex;
    background-color: #131921;
    width: 100vw;
    height: 60px;
    justify-content: space-evenly;
    align-items:center ;
}
.small-text{
    color: #CCCCCC;
    font-size: 0.75rem;
    font-weight: 400;
}
.big-text{
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 700;
}
.popover-location{
    display: flex;
    width: 90.667px;
    justify-content: center;
    align-items: center;
}
.popover-location i{
    width: 15px;
    height: 18px;
    margin: 8px 0 0;
    color: white;
}
#popover-location-subdiv{
    width: 88px;
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 2px;
}
#popover-location-subdiv:hover{
    border-color: white;
    
}
#amazon-logo img{
    width: 114px;
    padding: 1px 8px 0 6px;
    margin: 1px;
}
#amazon-logo{
    height: 50px;
    border: 1px solid transparent;
    border-radius: 2px;
    padding-top: 5px;
}
#amazon-logo:hover{
    border-color: white;
}
#loc-marker-big-text{
    padding: 0 0 1px;
}
#search-bar{
    display: flex;
    height: 60px;
    width: 850.52px;
    justify-content: center;
    align-items: center;
    color: #0f1111;
    margin: 0px 10px 0px 10px;
    padding: 10px 4px 10px 3px;
    font-size: 0px;
}
#search-bar-left select{
    width: 52px;
    font-size: 0.875rem;
    height: 40px;
    background-color: #e6e6e6;
    border: none;
    color: #75787DFF;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 10px;
    padding-right: 5px;
}
#search-bar-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
#select-wrapper:hover select{
    background-color: #d4d4d4;
    color: #0f1111;
    cursor: pointer;
}
#search-bar-center input{
    width: 736.52px;
    height: 40px;
    padding: 7px 10px 10px 0px;
    font-size: 15px;
    border: none;
    text-indent: 8px;

}
#search-bar-button{
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    padding: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-btn {
    width: 100%;
    height: 100%;
    background-color: #febd69;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#search-bar-button:hover button{
    background-color: #f3a847;
}
#search-bar-button:hover button i{
    color: #333333;
}
#search-bar-button i{
    font-size: 20px;
    line-height: 1;
}
#nav-tools{
    width: 381.84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#language-dropdown{
    margin: 0 1px;
    padding: 20px 6px 0px 7px;
    font-size: 14px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 2px;
}
#language-dropdown:hover{
    border-color: white;
}
#language-dropdown button{
    background-color: #131921;
    color: white;
    border: none;
    font-weight: 600;
}
.dropdown-content{
    display: none;
}
#accounts-lists{
    width: 117.5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 2px;
    padding: 0 9px;
    border: 1px solid transparent;
    border-radius: 2px;
}
#accounts-lists:hover{
    border-color: white;
}
#accounts-lists a{
    text-decoration: none;
}
#accounts-lists-big-text{
    white-space:nowrap;
}
#accounts-lists-small-text{
    white-space:nowrap;
    font-size: 12px;
}
#return-orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 82px;
    height: 50px;
    margin: 0 2px;
    padding: 0 9px;
    border: 1px solid transparent;
    border-radius: 2px;
}
#return-orders:hover{
    border-color: white;
}
#return-orders-line1 {
    font-size: 12px;
    color: #CCCCCC;
    margin: 0;
}

#return-orders-line2 {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 2px 0 0 0;
}

#return-orders a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0; 
}


#cart-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 50px;
    margin: 0 11px 0 2px;
    padding: 0 9px 11px;
    position: relative;
}
#cart-section:hover{
    border: 1px solid white;
    border-radius: 2px;
}
#cart-section a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  position: relative;
}
.cart-count{
    position: absolute;
    top: 2px;
    font-size: 12px;
}
#cart-section i {
    position: relative;
    top: 16px;
    right: 8px;
    font-size: larger;
}
.cart-label {
    position: relative;
    top: 16px;
    font-size: 14px;
}
#sub-navbar{
    height: 39px;
    width: 100vw;
    background-color: #232f3e; 
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
#sub-navbar-left{
    padding: 8px 9px 8px 20px;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 60px;
}
#sub-navbar-left span{
    font-size: 14px;
}
#sub-navbar-left i{
    font-size: 19px;
    height: 17px;
    width: 15px;
}
#sub-navbar-ul{
    font-size: 14px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
#sub-navbar-ul li{
   margin: 5px 0px 6px 0px;
   padding: 12px 5px 8px 5px;
   height: 39px;
}
.sub-navbar-text{
    border: 1px solid transparent;
    border-radius: 2px;
}
.sub-navbar-text:hover{
    border-color: white;
}